.App {
  text-align: center;
}

.scroll-to-top-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 5px 15px 3px 15px;
  background-color: rgb(29, 115, 214);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 20%;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}
.scroll-to-top-button:hover {
  background-color: rgb(31, 121, 79);
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 50px 0; */
}

.container-fluid {
  --bs-gutter-x: 0rem;
}

.intro-img {
  max-width: 100%;
  height: auto;
}

.container-blue-text {
  color: white;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding: 20px;
}

.container-right-text {
  color: black;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding: 20px;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

i {
  margin-right: 10px;
  color: blue;
}

.bg-primary h1 {
  text-align: right;
}

.row {
  margin: 1px;
}

.shifa-p {
  font-size: 20px;
  padding: 1rem;
  color: rgb(223, 232, 245);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.right-col {
  margin-left: 70px;
}

.intro_icons {
  max-width: 180%;
  height: auto;
}

.quantity_values {
  font-size: 30px;
}

.quantity_text {
  font-size: 25px;
  font-family: "Roboto";
}

.break-line {
  border: 1.5px solid #0848d3;
  font-weight: bolder;
}

.horizontal-line {
  border: 2px solid #074adf;
  margin-left: 10px;
}
.faq-data {
  padding: 1px 0px 0px 0px;
}

.categories {
  text-decoration: none;
}
.appointment-icon {
  margin-left: 8px;
}

.primary-color-menu {
  color: blue;
  font-size: 17px;
}

.primary-color-menu:hover {
  color: white;
  background-color: green;
  font-weight: 400;
}
.menus {
  color: black;
  font-weight: 500;
  font-size: 17px;
}
.menus:hover {
  background-color: #074adf;
  color: white;
  font-weight: 400;
}
div.col-md-7 {
  padding: 0px 0px 0px 0px;
}

.about_img3 {
  margin-top: 10px;
  max-width: 70%;
}
div.col-md-5 {
  padding: 0px 0px;
}

/*Awards section css code*/

.awards-container {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 20px 15px 1px 10px;
}

.awards-icon-container {
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 50px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: relative;
  z-index: 1;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1b29e6;
  margin-right: 10px;
  animation: pulse 2s infinite;
  border: 2px solid #fff;
  margin-left: 20px;
}

.icon {
  font-size: 18px;
  color: #ffffff;
}

.award-name {
  flex: 1;
  font-size: 16px;
  color: black;
  font-weight: 700;
  margin: 0px 0px 0px -10px;
  transition: all 0.2s ease-in-out;
  padding: 1px 1px;
}

.awards-icon-container:hover {
  /* background-color: #e4e1e1; */
  /* background-image: none; */
}

.award-name:hover {
  font-size: 18px;
  transform: scale(0.9);
  margin-left: -23px;
}
/* .awards-icon-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  z-index: -1;
  border-radius: 30px;
}
*/
.awards-icon-container {
  background-image: url("award-bg-only.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  animation: slide-bg 1s infinite linear;
}

@keyframes slide-bg {
  0% {
    opacity: 0.8;
    background-position: -100% 0%;
  }

  100% {
    opacity: 0.7;
    background-position: -50% 10%;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

div.bg-primary {
  padding: 70px 0px;
}

.intro-container-2 {
  position: relative;
  z-index: 1;
}

.intro-container-2::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("bg-img-intro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  z-index: -1;
}

.text-container-intro {
  /* margin-top: -150px; */
  color: black;
}

.faq-question {
  font-weight: 800;
  background-color: rgb(249, 248, 252);
}

.faq-answer {
  font-weight: 800;
  /* background-color: rgb(241, 237, 245); */
}

p {
  font-size: 18px;
}
.about-main-img {
  display: flex;
  justify-content: center; /* centers the text horizontally */
  align-items: center; /* centers the text vertically */
  height: 70%;
}

.text-before-award,
.award-name {
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

/* For laptop screen of 1506*/
@media screen and (max-width: 1920px) {
  p {
    font-size: 22px;
  }
  .about_img3 {
    /* margin-top: 95px; */
    max-width: 60%;
  }
  .about-heading {
    text-align: left;
  }
  .services_img3 {
    max-width: 60%;
  }
  .weight_loss_p {
    padding: 15px 0px 0px 0px;
  }

  .intro-img-div-container {
    width: 55%;
  }
}

/* For laptop screen of 1440*/
/* @media screen and (max-width: 1441px) {
  p {
    font-size: 20px;
  }
  .about_img3 {
    max-width: 55%;
  }
  .about-heading {
    text-align: left;
  }
  .services_img3 {
    max-width: 50%;
  }
  .weight_loss_p {
    padding: 15px 0px 0px 0px;
  }
} */

/* For laptop screen of 1k*/
@media screen and (max-width: 1024px) {
  div.bg-primary {
    padding: 4px 1px;
  }

  p {
    font-size: 20px;
  }
  .about_img3 {
    margin-top: 95px;
    max-width: 70%;
  }
  .about-heading {
    text-align: left;
  }
  .services_img3 {
    max-width: 80%;
  }
  .weight_loss_p {
    padding: 15px 0px 0px 0px;
  }
}
/* Tablet Responsive CSS */
@media screen and (min-width: 426px) and (max-width: 768px) {
  /* .services_img {
    max-width: 90%;
    padding: 27px 0px 25px 5px;
  } */
  .icons_text {
    padding-left: 20px;
  }
  .contactus-text {
    /* text-align: -webkit-center; */
    margin-left: 0rem !important;
  }

  .horizontal-line {
    margin-left: 15px;
  }
  .about-para {
    padding: 2px 15px 0px 23px;
  }
  .intro_icons {
    max-width: 700%;
    padding: 0px 4px 0px 0px;
  }

  .about_img3 {
    margin-top: 2px;
    max-width: 90%;
  }
  .services-headings {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .quantity_values {
    font-size: 25px;
  }
  .intro-img {
    width: 109%;
    height: 100%;
  }

  p {
    font-size: 17px;
  }
  .about-main-img {
    display: flex;
    justify-content: center; /* centers the text horizontally */
    align-items: center; /* centers the text vertically */
    height: 100vh;
  }

  .MuiTypography-h5 {
    font-size: 1.2rem !important;
  }
}

/* Large Mobile Responsive CSS */
@media screen and (max-width: 426px) {
  .intro-img {
    width: 100%;
    height: auto;
  }

  .intro-container {
    padding: 0px 0px 0px 0px;
  }
  .quantity_values {
    font-size: 25px;
  }
  .about-heading {
    text-align: center;
    margin-top: 5px;
  }
  .about_img3 {
    margin-top: 1px;
    text-align: left;
  }
  .service-heading-2 {
    margin-top: 40px;
    margin-left: 5;
  }
  .about-para {
    padding: 2px 15px 0px 23px;
  }
  .quantity_text {
    font-size: 21px;
    font-family: "Roboto";
  }
  p {
    font-size: 16px;
  }
  .MuiTypography-h5 {
    font-size: 1.1rem !important;
  }
}
