.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 50px 0; */
}

.intro-img {
  max-width: 103%;
  height: auto;
}
.container-blue-text {
  color: white;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding: 20px;
}

.container-right-text {
  color: black;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding: 20px;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

i {
  margin-right: 10px;
  color: blue;
}

.bg-primary h1 {
  text-align: right;
}

.row {
  margin: 1px;
}

.shifa-p {
  font-size: 20px;
  padding: 1rem;
}

.right-col {
  margin-left: 70px;
}

.icons_text {
  max-width: 180%;
  height: auto;
}

.services_img {
  max-width: 60%;
  height: auto;
}

.quantity_text {
  font-size: 25px;
  font-family: "Roboto";
}

.break-line {
  border: 1.5px solid #074adf;
  font-weight: bolder;
}

.visit-us-div {
  width: 45%;
}

.appointment-div {
  width: 70%;
}
