.App {
  text-align: center;
}

.scroll-to-top-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 5px 15px 3px 15px;
  background-color: rgb(29, 115, 214);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 20%;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}
.scroll-to-top-button:hover {
  background-color: rgb(31, 121, 79);
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 50px 0; */
}

.intro-img {
  max-width: 102%;
  /* height: auto; */
}
.container-blue-text {
  color: white;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding: 20px;
}

.container-right-text {
  color: black;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding: 20px;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

i {
  margin-right: 10px;
  color: blue;
}

.bg-primary h1 {
  text-align: right;
}

.row {
  margin: 1px;
}

.shifa-p {
  font-size: 20px;
  padding: 1rem;
}

.right-col {
  margin-left: 70px;
}

.intro_icons {
  max-width: 180%;
  height: auto;
}

.services_img {
  max-width: 60%;
  height: auto;
  padding: 13px 0px 30px 0px;
}

.quantity_values {
  font-size: 30px;
}

.quantity_text {
  font-size: 25px;
  font-family: "Roboto";
}

.break-line {
  border: 1.5px solid #0848d3;
  font-weight: bolder;
}

.horizontal-line {
  border: 2px solid #074adf;
  margin-left: 10px;
}
.faq-data {
  padding: 1px 0px 0px 0px;
}

.categories {
  text-decoration: none;
}
.appointment-icon {
  margin-left: 8px;
}

.primary-color-menu {
  color: blue;
  font-size: 17px;
}

.primary-color-menu:hover {
  color: white;
  background-color: green;
  font-weight: 400;
}
.menus {
  color: black;
  font-weight: 500;
  font-size: 17px;
}
.menus:hover {
  background-color: #074adf;
  color: white;
  font-weight: 400;
}
div.col-md-7 {
  padding: 0px 0px 0px 0px;
}

.about_img3 {
  max-width: 75%;
}
div.col-md-5 {
  padding: 0px 0px;
}

.weight_loss_p {
  text-align: justify;
}

/*Awards section css code*/

.awards-container {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 20px 15px 1px 10px;
}

.awards-icon-container {
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 30px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #8c52ff;
  margin-right: 20px;
  animation: pulse 2s infinite;
}

.icon {
  font-size: 20px;
  color: #ffffff;
}

.award-name {
  font-size: 18px;
  color: black;
  font-weight: 600;
  margin: 0;
  transition: all 0.2s ease-in-out;
  /* border: 2px solid green; */
  padding: 4px 1px;
}

.awards-icon-container:hover .award-name {
  color: #1432db;
  background-color: white;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

div.bg-primary {
  padding: 70px 0px;
}

/* Tablet Responsive CSS */
@media screen and (max-width: 768px) {
  .services_img {
    max-width: 90%;
    padding: 27px 0px 25px 5px;
  }
  .icons_text {
    padding-left: 20px;
  }
  .contactus-text {
    /* text-align: -webkit-center; */
    margin-left: 0rem !important;
  }

  .horizontal-line {
    margin-left: 15px;
  }

  .intro_icons {
    max-width: 700%;
    padding: 0px 4px 0px 0px;
  }

  .about_img3 {
    margin: 100px 0px 0px 0px;
  }
  .services-headings {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .quantity_values {
    font-size: 25px;
  }
  .intro-img {
    width: 109%;
    height: 100%;
  }
}

/* Large Mobile Responsive CSS */
@media screen and (max-width: 425px) {
  .intro-img {
    width: 100%;
    height: auto;
  }

  .intro-container {
    padding: 0px 0px 0px 0px;
  }
  .quantity_values {
    font-size: 25px;
  }
  .about-heading {
    margin-top: 40px;
  }
  .about_img3 {
    margin-top: 2px;
  }
  .about-para {
    padding: 2px 15px 0px 23px;
  }
}
